Repository ECONEURA/ECONEURA-: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write, python -m flake8 --max-line-length=120 --ignore=E501,W503

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx}": [
    "eslint --fix",
    "eslint"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "python -m flake8 --max-line-length=120 --ignore=E501,W503"
  ]
}

git add -A git commit -m "feat(cockpit): preparar preview local, tipos Axios y parches de desarrollo"
  .dev/cockpit/setup-cockpit.ps1
  .econeura_fix_preview.ps1
  apps/web/preview/preview.html
  apps/web/src/EconeuraCockpit.tsx
  packages/agents/ai-router.client.ts
  packages/agents/memory.ts
  packages/agents/src/types.ts
  packages/db/src/database.ts
  packages/sdk/src/client.ts
  packages/shared/src/config.ts
  packages/shared/src/validation.ts
  packages/shared/tsconfig.json
Due: eslint --fix, eslint, prettier --write

chore(cockpit): add dev cockpit setup script, scaffolding, tasks and README
  .dev/cockpit/.server.pid
  .dev/cockpit/.vscode/settings.json
  .dev/cockpit/.watch.pid
  .dev/cockpit/package-lock.json
  .dev/cockpit/package.json
  .dev/cockpit/run-http-server-fast.ps1
  .dev/cockpit/server.err
  .dev/cockpit/server.log
  .dev/cockpit/setup-cockpit.ps1
  .dev/cockpit/src/EconeuraCockpit.tsx
  .dev/cockpit/src/index.tsx
  .vscode/tasks.json
  README.dev.md
Due: eslint --fix, eslint, prettier --write

chore(cockpit): ignore PID files and local lockfile
  .dev/cockpit/.server.pid
  .dev/cockpit/.watch.pid
  .dev/cockpit/package-lock.json
  .gitignore
Due: prettier --write

ci(cockpit): add CI workflow and prefer npx over python for dev server
  .dev/cockpit/setup-cockpit.ps1
  .github/workflows/cockpit-ci.yml
Due: prettier --write

refactor(cockpit): extract AgentCard component
  .dev/cockpit/src/EconeuraCockpit.tsx
  .dev/cockpit/src/components/AgentCard.tsx
Due: eslint --fix, eslint

chore(cockpit): scaffold dev environment + meta-run script + quick checks
  .dev/cockpit/meta-run-phases1-4.ps1
  .dev/cockpit/package.json
  .dev/cockpit/src/components/__tests__/AgentCard.test.tsx
  tsconfig.cockpit.dev.json
  types/axios.d.ts
Due: eslint --fix, eslint, prettier --write

chore(cockpit): add busy test and isolate tests in workflow
  .dev/cockpit/src/components/__tests__/AgentCard.busy.test.tsx
  .dev/cockpit/vitest.config.ts
  .dev/cockpit/vitest.setup.ts
  .github/workflows/cockpit-ci.yml
Due: eslint --fix, eslint, prettier --write

fix(ci): workflow actualizado y reparadofix(ci): workflow actualizado y reparadofix(ci): workflow actualizado y reparadoRefactor CI workflow for better error handling
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): diagnóstico exhaustivo y reparación pro workflows automatizada
  .github/workflows/backups/ci-web.yml
  .github/workflows/backups/ci.yml
  .github/workflows/backups/cockpit-ci.yml
  .github/workflows/ci-web.yml
  .github/workflows/ci.yml
  .github/workflows/cockpit-ci.yml
Due: prettier --write

chore(ci): apply workflow repairs and update cockpit package & docs
  .dev/cockpit/package.json
  README.dev.md
  scripts/create-pr.ps1
Due: prettier --write

chore(ci): add patch and PR_READY instructions
  .github/workflows/feature-cockpit-changes.patch
  PR_READY.md
Due: prettier --write

ci: YAML limpio, DEPLOY_ENABLED=false, neutralizar pnpm/Docker y activar triggers cockpit
  .github/workflows/ci.yml
  .github/workflows/cockpit-ci.yml
Due: prettier --write

ci: fix workflows - add DEPLOY_ENABLED and cockpit triggers
  .github/workflows/ci.yml
  .github/workflows/cockpit-ci.yml
Due: prettier --write

ci: clean workflows (remove fences, dedupe)
  .github/workflows/ci-web.yml
  .github/workflows/ci.yml
  .github/workflows/ci.yml.backup
  .github/workflows/cockpit-ci.yml
Due: prettier --write

ci: harden workflows, add cockpit integration job; add cockpit test deps and scripts
  .dev/cockpit/package.json
  .github/workflows/ci.yml
  .github/workflows/cockpit-ci.yml
Due: prettier --write

fix(cockpit): align invokeAgent fetch shape and remove extra headers so e2e tests pass
  .dev/cockpit/src/EconeuraCockpit.tsx
  .dev/cockpit/vitest.config.ts
  apps/web/src/EconeuraCockpit.tsx
  apps/web/vitest.config.ts
Due: eslint --fix, eslint

chore: auto-fixes eslint para targets: apps/web, .dev/cockpit, packages/shared
  eslint-report-20251001-174543.txt
  scripts/auto_cleanup.ps1
Due: none

chore: auto-fixes eslint para targets: apps/web, .dev/cockpit, packages/shared
  eslint-report-20251001-174857.txt
  scripts/auto_cleanup.ps1
Due: none

chore: marker for failed move of .dev/cockpit (locked by process), see .disabled-packages\20251001-174857\cockpit-MOVE_FAILED-20251001-174857.txt
  .disabled-packages/20251001-174857/cockpit-MOVE_FAILED-20251001-174857.txt
Due: none

chore: marker for failed move of packages/shared (locked by process), see .disabled-packages\20251001-174857\shared-MOVE_FAILED-20251001-174857.txt
  .disabled-packages/20251001-174857/shared-MOVE_FAILED-20251001-174857.txt
Due: none

chore: marker for failed move of .dev/cockpit (locked by process), see .disabled-packages\20251001-175256\cockpit-MOVE_FAILED-20251001-175256.txt
  .disabled-packages/20251001-175256/cockpit-MOVE_FAILED-20251001-175256.txt
Due: none

chore: moved failing package packages/shared to disabled-packages for cleanup (typeErr=True, testErr=True)
  .disabled-packages/20251001-175256/shared/DISABLED_REASON.txt
  .disabled-packages/20251001-175256/shared/src/__tests__/config.test.ts
  .disabled-packages/20251001-175256/shared/src/__tests__/errors.test.ts
  .disabled-packages/20251001-175256/shared/src/__tests__/health.test.ts
  .disabled-packages/20251001-175256/shared/src/__tests__/logging.test.ts
  .disabled-packages/20251001-175256/shared/src/__tests__/middleware.test.ts
  .disabled-packages/20251001-175256/shared/src/__tests__/rate-limiter.test.ts
  .disabled-packages/20251001-175256/shared/src/__tests__/retry.test.ts
  .disabled-packages/20251001-175256/shared/src/__tests__/validation.test.ts
  .disabled-packages/20251001-175256/shared/src/graph/env.guard.ts
  .disabled-packages/20251001-175256/shared/src/logging/index.ts
  .disabled-packages/20251001-175256/shared/src/metrics/index.ts
  .disabled-packages/20251001-175256/shared/src/otel/index.ts
  .disabled-packages/20251001-175256/shared/src/schemas/ai.ts
  .disabled-packages/20251001-175256/shared/src/schemas/base.ts
  .disabled-packages/20251001-175256/shared/src/schemas/flows.ts
  .disabled-packages/20251001-175256/shared/src/schemas/index.ts
  .disabled-packages/20251001-175256/shared/src/schemas/integrations.ts
  .disabled-packages/20251001-175256/shared/src/schemas/org.ts
  .disabled-packages/20251001-175256/shared/src/types/api/index.ts
  .disabled-packages/20251001-175256/shared/src/types/index.js
  .disabled-packages/20251001-175256/shared/src/types/index.ts
  .disabled-packages/20251001-175256/shared/src/types/models/index.ts
  .disabled-packages/20251001-175256/shared/src/types/system/index.ts
  .disabled-packages/20251001-175256/shared/src/utils/fetch-safe.ts
  .disabled-packages/20251001-175256/shared/src/validation/crm.ts
  .disabled-packages/20251001-175256/shared/src/validation/erp.ts
Due: eslint --fix, eslint

chore: moved failing package C:\Users\Usuario\ECONEURA-\ECONEURA-\packages\agents to disabled-packages for cleanup (typeErr=True, testErr=True)
  .disabled-packages/20251001-175256/README.md
  .disabled-packages/20251001-213925/agents/DISABLED_REASON.txt
  .disabled-packages/20251001-213925/agents/ai-router.client.ts
  .disabled-packages/20251001-213925/agents/config/agents.connections.yaml
  .disabled-packages/20251001-213925/agents/config/ci.keyvault.snippet.yaml
  .disabled-packages/20251001-213925/agents/connector.d.ts
  .disabled-packages/20251001-213925/agents/index.ts
  .disabled-packages/20251001-213925/agents/memory.ts
  .disabled-packages/20251001-213925/agents/package.json
  .disabled-packages/20251001-213925/agents/scripts/create_connections.sh
  .disabled-packages/20251001-213925/agents/scripts/create_connections_1758216877-3024.json
  .disabled-packages/20251001-213925/agents/scripts/create_connections_1758216883-26009.json
  .disabled-packages/20251001-213925/agents/src/connector/logger.js
  .disabled-packages/20251001-213925/agents/src/connector/makeConnector.js
  .disabled-packages/20251001-213925/agents/src/connector/neuraRouter.js
  .disabled-packages/20251001-213925/agents/src/types.ts
  eslint-report-20251001-175809.txt
  scripts/auto_cleanup.ps1
Due: eslint --fix, eslint, prettier --write

chore: moved failing package C:\Users\Usuario\ECONEURA-\ECONEURA-\packages\config to disabled-packages for cleanup (typeErr=True, testErr=True)
  .disabled-packages/20251001-213925/config/DISABLED_REASON.txt
  .disabled-packages/20251001-213925/config/agent-routing.json
  .disabled-packages/20251001-213925/config/package.json
  .disabled-packages/20251001-213925/config/src/env.ts
  .disabled-packages/20251001-213925/config/src/index.ts
Due: eslint --fix, eslint, prettier --write

chore: moved failing package C:\Users\Usuario\ECONEURA-\ECONEURA-\packages\db to disabled-packages for cleanup (typeErr=True, testErr=True)
  .disabled-packages/20251001-213925/db/DISABLED_REASON.txt
  .disabled-packages/20251001-213925/db/drizzle.config.ts
  .disabled-packages/20251001-213925/db/env.example
  .disabled-packages/20251001-213925/db/eslint.config.js
  .disabled-packages/20251001-213925/db/migrations/001_initial_schema.sql
  .disabled-packages/20251001-213925/db/migrations/002_sepa_schema.sql
  .disabled-packages/20251001-213925/db/migrations/20250101000000_mem.sql
  .disabled-packages/20251001-213925/db/package.json
  .disabled-packages/20251001-213925/db/prisma/schema.prisma
  .disabled-packages/20251001-213925/db/src/client.lazy.ts
  .disabled-packages/20251001-213925/db/src/client.ts
  .disabled-packages/20251001-213925/db/src/config.ts
  .disabled-packages/20251001-213925/db/src/connection.ts
  .disabled-packages/20251001-213925/db/src/database.ts
  .disabled-packages/20251001-213925/db/src/drizzle-zod-shim.d.ts
  .disabled-packages/20251001-213925/db/src/index.ts
  .disabled-packages/20251001-213925/db/src/migrations/0001_initial_schema.sql
  .disabled-packages/20251001-213925/db/src/schema.ts
  .disabled-packages/20251001-213925/db/src/schema/index.ts
  .disabled-packages/20251001-213925/db/src/seed.ts
  .disabled-packages/20251001-213925/db/src/seeds/inventory.seeds.ts
  .disabled-packages/20251001-213925/db/src/types/prisma-shim.d.ts
  .disabled-packages/20251001-213925/db/tsconfig.json
  .disabled-packages/20251001-213925/db/tsconfig.tsbuildinfo
Due: eslint --fix, eslint, prettier --write

chore: moved failing package C:\Users\Usuario\ECONEURA-\ECONEURA-\packages\sdk to disabled-packages for cleanup (typeErr=True, testErr=True)
  .disabled-packages/20251001-213925/sdk/DISABLED_REASON.txt
  .disabled-packages/20251001-213925/sdk/package.json
  .disabled-packages/20251001-213925/sdk/src/client.ts
  .disabled-packages/20251001-213925/sdk/src/index.ts
  .disabled-packages/20251001-213925/sdk/src/resources/auth.ts
  .disabled-packages/20251001-213925/sdk/src/resources/crm.ts
  .disabled-packages/20251001-213925/sdk/tsconfig.json
  .disabled-packages/20251001-213925/sdk/tsconfig.tsbuildinfo
Due: eslint --fix, eslint, prettier --write

chore: moved failing packages to disabled-packages and added .disabled-packages/20251001-213925/README
  .disabled-packages/20251001-213925/README.md
Due: prettier --write

chore: moved failing packages to disabled-packages and added .disabled-packages/20251001-214315/README
  .disabled-packages/20251001-214315/README.md
  scripts/auto_cleanup.ps1
Due: prettier --write

fix(tooling): remove parse errors in add_mock.js and purge_secrets.js
  add_mock.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  purge_secrets.js
Due: eslint --fix, eslint, prettier --write

Update package.json with new content
  package.json
Due: prettier --write

chore(cleanup): apply automated lint and type fixes, repair parse errors
  .dev/cockpit/__mocks__/lucide-react.ts
  add_mock.js
  evidence_script.js
  generate-v11-report.js
  package.json
  pnpm-lock.yaml
  purge_secrets.js
  scripts/ensure-sixty.ts
  scripts/init-advanced-features.js
  scripts/metrics/collect.js
  scripts/metrics/collect.ts
  scripts/monitor-performance.js
  scripts/progress-v3.ts
  scripts/project-analysis-backup.js
  scripts/refactor/detect-duplicates.js
  scripts/seed/check-sixty.ts
  scripts/supervisor-check.ts
  scripts/test-consolidated-services.js
  test/setup.ts
  tmp_run_tsc.js
Due: eslint --fix, eslint, prettier --write

chore(husky): make pre-push resilient and use workspace tsc
  .husky/pre-push
Due: none

chore(scripts): call tsc via pnpm -w exec to avoid local bin resolution issues
  package.json
Due: prettier --write

feat: restore apps/cockpit from quarantine and clean artifacts
  apps/cockpit/.vscode/settings.json
  apps/cockpit/meta-run-phases1-4.ps1
  apps/cockpit/package.json
  apps/cockpit/run-http-server-fast.ps1
  apps/cockpit/server.err
  apps/cockpit/server.log
  apps/cockpit/setup-cockpit.ps1
  apps/cockpit/src/EconeuraCockpit.tsx
  apps/cockpit/src/components/AgentCard.tsx
  apps/cockpit/src/components/__tests__/AgentCard.busy.test.tsx
  apps/cockpit/src/components/__tests__/AgentCard.test.tsx
  apps/cockpit/src/index.tsx
  apps/cockpit/vitest.config.ts
  apps/cockpit/vitest.setup.ts
Due: eslint --fix, eslint, prettier --write

chore: add run-tsc wrapper and use it for typecheck to handle pnpm/windows layouts
  package.json
  scripts/run-tsc.js
Due: eslint --fix, eslint, prettier --write
