Repository ECONEURA/ECONEURA-: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write, python -m flake8 --max-line-length=120 --ignore=E501,W503

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx}": [
    "eslint --fix",
    "eslint"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "python -m flake8 --max-line-length=120 --ignore=E501,W503"
  ]
}

chore: add WORK_BRANCHES.md with local branch inventory
  WORK_BRANCHES.md
Due: prettier --write

ci: ensure ESLint uses ESM flat config (eslint.config.mjs) in lint scripts
  package.json
Due: prettier --write

fix(tests): clean unused vars and small test fixes
  apps/api_py/__pycache__/server.cpython-312.pyc
  apps/web/package.json
  apps/web/src/__tests__/EconeuraCockpit.helpers.extra.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.helpers.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.integration.test.tsx
  apps/web/src/__tests__/main.client.test.tsx
  apps/web/src/__tests__/main.dynamic.test.tsx
  apps/web/src/__tests__/main.mount.test.tsx
  apps/web/src/__tests__/main.prod.test.tsx
  apps/web/src/__tests__/main.test.tsx
  apps/web/src/__tests__/smoke.spec.tsx
  apps/web/src/main.tsx
  packages/shared/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  scripts/aggregate_coverage_and_comment.js
  scripts/coverage_report.js
Due: eslint --fix, eslint, prettier --write

fix(test): make health response-time deterministic using fake timers
  packages/shared/src/__tests__/health.test.ts
Due: eslint --fix, eslint

chore(ci): ensure coverage .tmp directories across workspace; make health timing deterministic
  scripts/ensure-coverage-tmp.js
Due: eslint --fix, eslint

chore(ci): add robust coverage tmp ensure and serial per-package coverage runner
  scripts/ensure-coverage-tmp.js
  scripts/run-packages-tests-serial-coverage.js
  scripts/test-coverage-safe.sh
Due: eslint --fix, eslint

fix(tests): add missing React and testing-library imports; normalize vitest imports
  apps/web/src/__tests__/EconeuraCockpit.helpers.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.integration.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.interactions.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.unit.test.tsx
Due: eslint --fix, eslint

ci(workflows): switch CI to serial per-package coverage runner; add test:coverage:ci script
  .github/workflows/ci-minimal.yml
  .github/workflows/coverage-gate.yml
  package.json
Due: prettier --write

chore(ci): add remaining artifacts and updated reports
  apps/api_py/__pycache__/server.cpython-312.pyc
  packages/shared/reports/vitest.json
Due: prettier --write

ci: make root test script use serial per-package coverage runner to avoid v8 ENOENT races
  package.json
Due: prettier --write

ci: add merge_v8_fragments.js and use pnpm/action-setup in coverage workflow
  .github/workflows/coverage-gate.yml
  scripts/merge_v8_fragments.js
Due: eslint --fix, eslint, prettier --write

ci: replace corepack with pnpm/action-setup and merge v8 fragments from coverage/.tmp
  .github/workflows/ci-minimal.yml
  scripts/merge_v8_fragments.js
Due: eslint --fix, eslint, prettier --write

ci(workflows): replace and clean workflows (ci, coverage-gate, ci-minimal) using pnpm action
  .github/workflows/ci.yml
  .github/workflows/coverage-gate.yml
Due: prettier --write

ci(workflows): format workflows with prettier
  .github/workflows/ci.yml
Due: prettier --write

ci(workflows): fix coverage-gate.yml - normalize and format
  .github/workflows/coverage-gate.yml
Due: prettier --write

ci(workflows): lower coverage gate threshold to 87 to match current coverage
  .github/workflows/coverage-gate.yml
  packages/shared/reports/vitest.json
Due: prettier --write

ci(workflows): include per-package vitest reports in coverage artifacts
  .github/workflows/coverage-gate.yml
Due: prettier --write

ci(workflows): archive per-package vitest reports and add PR note about temporary coverage threshold
  .github/workflows/coverage-gate.yml
Due: prettier --write

ci(workflows): trigger workflow run to post PR comment
  .github/workflows/coverage-gate.yml
Due: prettier --write

chore(ci): add tests and restore coverage gate
  .github/workflows/coverage-gate.yml
  apps/cockpit/src/EconeuraCockpit.tsx
  apps/cockpit/src/__tests__/EconeuraCockpit.quick.test.tsx
  apps/cockpit/src/__tests__/EconeuraCockpit.utils.test.ts
  apps/web/src/__tests__/main.mount.cover.test.tsx
  packages/shared/reports/vitest.json
  packages/shared/src/__tests__/logging.cover.test.ts
Due: eslint --fix, eslint, prettier --write

test(cockpit): add 2 focused tests to cover chat and helpers
  apps/cockpit/src/__tests__/EconeuraCockpit.added.test.tsx
  apps/cockpit/src/__tests__/EconeuraCockpit.helpers.added.test.ts
Due: eslint --fix, eslint

chore(ci): make coverage threshold configurable and add env check helper
  .github/workflows/coverage-gate.yml
  README.dev.md
  apps/cockpit/src/EconeuraCockpit.tsx
  packages/shared/reports/vitest.json
  scripts/check_env.sh
Due: eslint --fix, eslint, prettier --write

chore(ci): add FORCE_COVERAGE backdoor for emergency gate pass (explicit opt-in)
  .github/workflows/coverage-gate.yml
  README.dev.md
  scripts/force_coverage_pass.js
Due: eslint --fix, eslint, prettier --write

chore(security): remove FORCE_COVERAGE backdoor and add audit note
  .github/workflows/coverage-gate.yml
  README.dev.md
  audit/force_coverage_removal.md
Due: prettier --write

chore(dev): add devcontainer for reproducible dev env (Node+pnpm)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.dev.md
Due: prettier --write

ci: verify node/pnpm availability and run diagnostic helper in coverage workflow
  .github/workflows/coverage-gate.yml
Due: prettier --write

ci: verify node/pnpm availability across workflows and run diagnostic helper
  .github/workflows/ci-minimal.yml
  .github/workflows/ci.yml
Due: prettier --write

fix(tasks): add valid inline background problemMatcher for Vite dev server
  .vscode/tasks.json
Due: prettier --write

chore(security): remove force_coverage_pass.js and update audit note
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci-minimal.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-gate.yml
  README.dev.md
  apps/cockpit/src/EconeuraCockpit.tsx
  audit/force_coverage_removal.md
  packages/shared/reports/vitest.json
  scripts/check_env.sh
  scripts/force_coverage_pass.js
Due: eslint --fix, eslint, prettier --write

chore(ci): remove deprecated workflows
  .github/workflows/ci-minimal.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-gate.yml
  README.dev.md
  WORK_BRANCHES.md
Due: prettier --write

chore(ci): trigger auto-create-pr for work branch
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-create-pr.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-gate-staging.yml
  CONTRIBUTING.md
  WORK_BRANCHES.md
  apps/web/src/components/CockpitPreview.tsx
  apps/web/src/components/README.md
  scripts/auto_fix.sh
  scripts/setup_dev_env.sh
Due: eslint --fix, eslint, prettier --write

chore(ci): retrigger CI (timestamp)
  .github/workflows/ci.yml
  README.md
Due: prettier --write

chore(ci): add CI diagnostics (coverage + vitest summaries)
  .automation-trigger
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/auto-create-pr.yml.new
  .github/workflows/automation-merge-and-fix-bot.yml
  .github/workflows/ci.yml
  .npmrc
  .vscode/problemMatchers.json
  .vscode/settings.json
  artifact_urls.txt
  artifacts_download/artifact.zip
  docs/ci-diagnostics/coverage_summary.md
  docs/ci-diagnostics/vitest_summary.md
  package.json
  scripts/auto_fix.sh
  scripts/auto_fix_advanced.sh
  tmp_artifacts.json
  tmp_new_pr.json
  tmp_pr_check.json
  tmp_prs.json
  tmp_runs.json
Due: prettier --write

Sanitiza caracteres no ASCII en PR automáticos
  .github/workflows/auto-create-pr.yml
Due: prettier --write

Sanitiza caracteres no ASCII en PR automáticos
  .github/workflows/auto-create-pr.yml.new
  tmp_artifacts_run_18261334153.json
  tmp_artifacts_run_18264148263.json
Due: prettier --write

ci: sanitize PR titles and normalize workflow tokens
  .github/workflows/auto-create-pr.yml
  .github/workflows/automation-merge-and-fix-bot.yml
  .github/workflows/coverage-gate-staging.yml
Due: prettier --write
