Repository ECONEURA/ECONEURA-: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write, python -m flake8 --max-line-length=120 --ignore=E501,W503

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx}": [
    "eslint --fix",
    "eslint"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "python -m flake8 --max-line-length=120 --ignore=E501,W503"
  ]
}

ci(cleanup): add optimized CI workflow and automation plan
  packages/shared/reports/vitest.json
  pnpm-lock.yaml
  scripts/run-tsc.js
Due: eslint --fix, eslint, prettier --write

test: fix global test setup (provide fetch polyfill, remove backticks)
  test/setup.ts
Due: eslint --fix, eslint

test(web): add local setup that reuses repo test/setup
  reports/vitest.json
Due: prettier --write

test: fix setup and vitest configs (remove fences, add DOM stubs, include tsx/jsx)
  apps/web/vitest.config.ts
  test/setup.ts
  vitest.config.ts
Due: eslint --fix, eslint

docs: add PR draft and react-resolution notes; add pretest guard
  docs/PR_DRAFT_fix_cockpit.md
  docs/REACT_RESOLUTION.md
  package.json
  scripts/ensure-local-react.js
Due: eslint --fix, eslint, prettier --write

chore: autofix lint in source files; update configs
  apps/web/src/test/setup.ts
  apps/web/vitest.config.ts
  package.json
  pnpm-lock.yaml
  reports/vitest.json
  vitest.config.ts
Due: eslint --fix, eslint, prettier --write

chore: relax no-explicit-any temporary; add automation prompt
  docs/AUTOMATION_PROMPT.md
  eslint.config.mjs
Due: prettier --write

chore(lint): silence no-unused-vars in run-tsc and adjust progress script
  scripts/progress-v3.ts
  scripts/run-tsc.js
Due: eslint --fix, eslint

fix(logging): use console.info/debug to satisfy unit tests
  apps/web/src/EconeuraCockpit.e2e.test.tsx
  apps/web/src/EconeuraCockpit.tsx
  packages/shared/src/__tests__/config.unit.test.ts
  packages/shared/src/__tests__/logging.unit.test.ts
  packages/shared/src/__tests__/middleware.test.ts
  packages/shared/src/__tests__/rate-limiter.test.ts
  packages/shared/src/__tests__/service-client.test.ts
  reports/eslint.json
  reports/vitest.json
  scripts/supervisor-check.ts
  test/shims/react-jsx-dev-runtime.cjs
  test/shims/react-jsx-dev-runtime.mjs
  test/shims/react-jsx-runtime.cjs
  test/shims/react-jsx-runtime.mjs
Due: eslint --fix, eslint, prettier --write

chore(lint): migrate .eslintignore to eslint.config.mjs (backup .eslintignore.bak)
  .eslintignore.bak
Due: none

chore(hooks): remove deprecated husky header lines for v10 compatibility
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(commitlint): use supported case tokens 'lower-case'
  .commitlintrc.js
Due: eslint --fix, eslint

chore: add @apidevtools/swagger-parser as devDependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(logging): allow console in logging shim; add prettier to devDeps
  package.json
  packages/shared/src/logging/index.ts
  pnpm-lock.yaml
Due: eslint --fix, eslint, prettier --write

chore(lint): simplify lint-staged to use only eslint + prettier for local dev
  .lintstagedrc.js
Due: eslint --fix, eslint

chore(logging): remove redundant eslint-disable lines
  packages/shared/src/logging/index.ts
  scripts/progress-v3.ts
Due: eslint --fix, eslint

chore(git): ignore generated reports
  .gitignore
  reports/eslint.json
  reports/vitest.json
Due: prettier --write

test: enable IS_REACT_ACT_ENVIRONMENT and use normalized path for vitest atomic reporter
  scripts/vitest-atomic-reporter.cjs
  test/setup.ts
  vitest.config.ts
Due: eslint --fix, eslint

chore: apply eslint --fix changes and lockfile updates (install typescript)
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: suppress repeated React act(...) warnings in test setup
  test/setup.ts
Due: eslint --fix, eslint

test(shared): add robust logger tests and CI job; improve logger types and log-levels
  .github/workflows/ci.yml
  packages/shared/src/logging/index.test.ts
  packages/shared/src/logging/index.ts
Due: eslint --fix, eslint, prettier --write

test(shared): add transport injection tests for logger
  packages/shared/src/logging/transport.test.ts
Due: eslint --fix, eslint

test(shared): make smoke tests CI-safe; fix(logging): allow console usage in logger
  packages/shared/src/__tests__/smoke.core.test.ts
  packages/shared/src/__tests__/smoke.events.test.ts
  packages/shared/src/__tests__/smoke.index.test.ts
  packages/shared/src/__tests__/smoke.metrics.test.ts
  packages/shared/src/events.ts
  packages/shared/src/logging/index.ts
Due: eslint --fix, eslint

chore(coverage): add robust one-shot aggregator, diagnostics, wrapper and docs
  ONE_SHOT_100_v13.ps1
  docs/coverage-aggregator.md
  package.json
  scripts/run_one_shot_check.ps1
Due: prettier --write

ci(workflows): avoid pnpm action self-installer; install pnpm via npm in CI
  .github/workflows/ci-web.yml
  .github/workflows/ci.yml
  .github/workflows/cockpit-ci.yml
Due: prettier --write

chore(security): pin fast-redact override and add SECURITY.md guidance
  SECURITY.md
  package.json
Due: prettier --write

ci(security): add Trivy scan workflow for branch
  .github/workflows/trivy-scan.yml
Due: prettier --write

ci(security): enhance trivy scan workflow and auto-remediation PR
  .github/workflows/trivy-scan.yml
Due: prettier --write

test: add unit tests for middleware and retry; exclude generated schemas/types from root coverage
  packages/shared/src/__tests__/middleware.unit.test.ts
  packages/shared/src/__tests__/retry.unit.test.ts
  vitest.config.ts
Due: eslint --fix, eslint

chore: add coverage enforcement and forbidden-file checks
  package.json
  scripts/check_forbidden_files.ps1
  scripts/enforce_coverage.ps1
Due: prettier --write

fix(enforce): use script-scoped accumulators so totals are correctly summed
  scripts/enforce_coverage.ps1
Due: none

chore: remove tracked backup/generated files and update .gitignore
  .github/workflows/backups/ci-web.yml
  .github/workflows/backups/ci.yml
  .github/workflows/backups/cockpit-ci.yml
  .github/workflows/ci.yml.backup
  .gitignore
  apps/web/package-lock.json
  tests/econeura-test/test_integration.sh.backup
Due: prettier --write

chore(web): ignore compiled JS in apps/web/src and remove from index
  .gitignore
  apps/web/src/App.js
  apps/web/src/EconeuraCockpit.e2e.test.js
  apps/web/src/EconeuraCockpit.js
  apps/web/src/EconeuraCockpit.repo.js
  apps/web/src/main.js
  apps/web/src/test/setup.js
Due: eslint --fix, eslint

test(web): add unit tests to increase coverage for EconeuraCockpit
  apps/web/src/__tests__/EconeuraCockpit.helpers.test.ts
  apps/web/src/__tests__/EconeuraCockpit.unit.test.tsx
Due: eslint --fix, eslint

chore(web): disable compiled/wrapper artifacts to ensure tests use TSX sources
  apps/web/src/EconeuraCockpit.e2e.test.tsx
  apps/web/src/EconeuraCockpit.repo.tsx.disabled
  apps/web/src/EconeuraCockpit.tsx
  packages/shared/tsconfig.json
Due: eslint --fix, eslint, prettier --write
