Repository ECONEURA/ECONEURA-: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write, python -m flake8 --max-line-length=120 --ignore=E501,W503

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx}": [
    "eslint --fix",
    "eslint"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "python -m flake8 --max-line-length=120 --ignore=E501,W503"
  ]
}

chore(ci): reparar y fusionar package.json + normalizar scripts
  package.json.bak
Due: none

chore(ci): persist local coverage & test fixes before shutdown
  .coverage.ignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  apps/cockpit/__mocks__/lucide-react.ts
  apps/cockpit/package.json
  apps/cockpit/vitest.config.ts
  apps/web/package.json
  apps/web/src/EconeuraCockpit.tsx
  apps/web/src/__tests__/App.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.coverage.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.helpers.extra.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.helpers.test.ts
  apps/web/src/__tests__/EconeuraCockpit.helpers.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.integration.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.interactions.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.selftest.force.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.selftest.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.ui.extra.test.tsx
  apps/web/src/__tests__/EconeuraCockpit.unit.test.tsx
  apps/web/src/__tests__/main.client.test.tsx
  apps/web/src/__tests__/main.createRoot.test.tsx
  apps/web/src/__tests__/main.dynamic.test.tsx
  apps/web/src/__tests__/main.mount.test.tsx
  apps/web/src/__tests__/main.prod.test.tsx
  apps/web/src/__tests__/main.test.tsx
  apps/web/src/main.tsx
  apps/web/test/shims/react-dom-client.js
  apps/web/vitest.config.ts
  package.json
  packages/shared/reports/vitest.json
  pnpm-lock.yaml
  scripts/ci_coverage_and_smoke.ps1
  scripts/ci_debug_targets.ps1
  scripts/coverage_report.js
  scripts/enforce_coverage.ps1
  scripts/fix_package.ps1
  scripts/run_coverage_gate.ps1
  tsconfig.json
Due: eslint --fix, eslint, prettier --write

fix(tests/cockpit): expand lucide-react mock and adjust smoke test selector
  .github/workflows/ci.yml
  apps/cockpit/__mocks__/lucide-react.ts
  apps/cockpit/src/__tests__/smoke.cockpit.test.tsx
  apps/cockpit/vitest.setup.ts
  apps/web/src/main.tsx
  apps/web/test/shims/react-jsx-dev-runtime.cjs
  apps/web/test/shims/react-jsx-dev-runtime.js
  apps/web/test/shims/react-jsx-runtime.cjs
  apps/web/test/shims/react-jsx-runtime.js
  apps/web/vitest.config.ts
  package.json
  scripts/create_pr.ps1
Due: eslint --fix, eslint, prettier --write

test(cockpit): use Chai-friendly assertions in smoke test
  apps/cockpit/src/__tests__/smoke.cockpit.test.tsx
Due: eslint --fix, eslint

chore(dev): make pre-commit fast, add vitest types and cross-platform PR helper
  .husky/pre-commit
  .lintstagedrc.js
  package.json
  scripts/create_pr.js
  tsconfig.json
Due: eslint --fix, eslint, prettier --write

chore(ci): record PR creation attempt status
  artifacts/PR_CREATION_STATUS.md
Due: prettier --write

chore(ci): append PR creation attempt record
  artifacts/PR_CREATION_STATUS.md
Due: prettier --write

ci: add workflow to auto-create PRs for feat/* branches
  .github/workflows/auto-create-pr.yml
Due: prettier --write

feat: implement repo improvements (coverage check, CI, E2E, devcontainer, security)
  .github/workflows/ci-improved.yml
  .github/workflows/coverage-check.yml
  .gitignore
  README.dev.md
  apps/web/e2e/playwright.config.ts
  package.json
  pnpm-lock.yaml
  scripts/aggregate_coverage_and_comment.js
  scripts/bootstrap.sh
Due: eslint --fix, eslint, prettier --write

fix(ci): robust getChangedLinesAgainstMain() + diff fallback for coverage aggregator
  .github/workflows/coverage-check.yml
  .github/workflows/e2e.yml
  scripts/aggregate_coverage_and_comment.js
Due: eslint --fix, eslint, prettier --write

ci: ensure full git history in workflows (fetch-depth: 0) to stabilize coverage diff calculations
  .github/workflows/coverage-check.yml
  .github/workflows/e2e.yml
Due: prettier --write

ci: fetch remote refs in aggregator job to guarantee merge-base for diff
  .github/workflows/coverage-check.yml
Due: prettier --write

ci(coverage): ignore common generated/backup paths in coverage aggregator
  scripts/aggregate_coverage_and_comment.js
Due: eslint --fix, eslint

chore(coverage): add verbose debug output controlled by COVERAGE_DEBUG
  scripts/aggregate_coverage_and_comment.js
Due: eslint --fix, eslint

chore(ci): enable COVERAGE_DEBUG in aggregate job for first run
  .github/workflows/coverage-check.yml
Due: prettier --write

chore(ci): remove disabled workflows and old patch files
  .github/workflows/disabled/README.md
  .github/workflows/disabled/ci-web.yml
  .github/workflows/disabled/ci.yml
  .github/workflows/disabled/cockpit-ci.yml
  .github/workflows/feature-cockpit-changes.patch
Due: prettier --write

chore(ci): remove all remaining workflows as requested
  .github/workflows/auto-create-pr.yml
  .github/workflows/ci-improved.yml
  .github/workflows/ci-web.yml
  .github/workflows/ci.yml
  .github/workflows/cockpit-ci.yml
  .github/workflows/coverage-check.yml
  .github/workflows/e2e.yml
  .github/workflows/trivy-scan.yml
Due: prettier --write

chore(types): add shims and fix TS issues; add @types/react and @types/react-dom
  apps/cockpit/src/EconeuraCockpit.tsx
  apps/web/src/main.tsx
  package.json
  pnpm-lock.yaml
  types/shims-playwright.d.ts
Due: eslint --fix, eslint, prettier --write

chore: upgrade vitest, vite & plugin-react; fix vitest config; normalize lint ignores
  .eslintignore
  LOCAL_CHANGES.md
  apps/cockpit/package.json
  apps/web/package.json
  apps/web/vitest.config.ts
  eslint-report-20251001-173654.txt
  eslint-report-20251001-174105.txt
  eslint-report-20251001-174543.txt
  eslint-report-20251001-174655.txt
  eslint-report-20251001-174857.txt
  eslint-report-20251001-175256.txt
  eslint-report-20251001-175809.txt
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/check-eslint-invocations.mjs
  scripts/release/create-release.mjs
  scripts/repair-lint-scripts.mjs
Due: eslint --fix, eslint, prettier --write

chore: finalize local dependency & lockfile updates
  apps/cockpit/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add coverage gate workflow (95% statements) and helper script
  .github/workflows/coverage-gate.yml
  scripts/coverage-gate.js
Due: eslint --fix, eslint, prettier --write

ci: coverage gate — annotations + test in CI + reversible flag
  .github/workflows/coverage-gate.yml
Due: prettier --write

ci: ensure coverage/.tmp exists to avoid ENOENT in reporter
  .github/workflows/coverage-gate.yml
Due: prettier --write

chore(cockpit): apply AST codemod and lightweight DX tasks
  .vscode/launch.json
  .vscode/tasks.json
  scripts/README-coverage-gate.md
  scripts/__tests__/coverage-gate.test.js
  scripts/coverage-gate.js
  tools/codemods/cockpit.ast.js
  tools/scripts/apply_cockpit_codemod.ps1
Due: eslint --fix, eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

chore(cockpit): apply AST codemod and lightweight DX tasks
  .vscode/tasks.json
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
  tools/scripts/apply_cockpit_codemod.ps1
Due: prettier --write

chore(cockpit): apply AST codemod and lightweight DX tasks
  tools/scripts/apply_cockpit_codemod.ps1
Due: none

Revise README for clarity and final state updates
  README.md
Due: prettier --write

ECONEURA
  README.md
Due: prettier --write

e
  README.md
Due: prettier --write

docs: update README with full project overview and governance details
  README.md
Due: prettier --write

test(shared): cover logging formatMeta fallbacks and config edge cases
  packages/shared/src/__tests__/edge-cases.test.ts
  packages/shared/src/__tests__/logging.cover.test.ts
  packages/shared/src/__tests__/misc.test.ts
  packages/shared/src/__tests__/validation.test.ts
Due: eslint --fix, eslint

chore(ci): ensure coverage/.tmp before tests to avoid ENOENT
  package.json
  scripts/ensure-coverage-tmp.js
Due: eslint --fix, eslint, prettier --write

chore(ci): ensure coverage/.tmp before each package run to avoid race ENOENT
  scripts/run-packages-tests.js
Due: eslint --fix, eslint

chore(ci): per-package coverage dir + NODE_V8_COVERAGE to avoid races
  scripts/run-packages-tests.js
Due: eslint --fix, eslint

ci(workflow): run merge_v8_fragments before gate and upload final artifacts
  .github/workflows/coverage-gate.yml
Due: prettier --write

chore(ci): merge v8 fragments after package tests to produce coverage-summary.json
  scripts/run-packages-tests.js
Due: eslint --fix, eslint
