Repository ECONEURA/ECONEURA-: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write, python -m flake8 --max-line-length=120 --ignore=E501,W503

.lintstagedrc.json:

{
  "*.{js,ts,tsx,jsx}": [
    "eslint --fix",
    "eslint"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "python -m flake8 --max-line-length=120 --ignore=E501,W503"
  ]
}

Checkpoint from VS Code for coding agent session
  .devcontainer/Dockerfile
  docs/setup.md
Due: prettier --write

Checkpoint from VS Code for coding agent session
  .github/copilot-instructions.md
Due: prettier --write

ci: fix workflows to match actual codebase structure
  .github/copilot-instructions.md
  .github/workflows/ci-smoke.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-web.yml
  scripts/validate-cicd.sh
Due: prettier --write

ci: complete workflow rewrite for 100% green status
  .github/workflows/build-web.yml
  .github/workflows/ci-basic.yml
  .github/workflows/ci-smoke.yml.OLD
  .github/workflows/ci.yml.OLD
  .github/workflows/deploy-api.yml.OLD
  .github/workflows/deploy-azure.yml
  .github/workflows/deploy-web.yml.OLD
  .github/workflows/validate-api.yml
  ACTION_PLAN_WORKFLOWS.md
  CICD_FIX_SUMMARY.md
Due: prettier --write

docs: add quick verification guide
  VERIFICATION_QUICK.md
Due: prettier --write

fix: Reparar typecheck y agregar análisis crítico de workflows
  apps/web/package.json
  apps/web/src/EconeuraCockpit.tsx
  apps/web/src/components/CockpitPreview.tsx
  apps/web/tsconfig.json
  docs/CRITICAL_ANALYSIS_WORKFLOWS.md
  pnpm-lock.yaml
  scripts/rebuild-cicd-correct.sh
  scripts/run-tsc.js
Due: eslint --fix, eslint, prettier --write

fix(ci): Deshabilitar validaciones no implementadas en ci-full.yml
  .github/workflows/ci-full.yml
Due: prettier --write

docs: Agregar resumen completo de estado de workflows CI/CD
  docs/WORKFLOWS_STATUS.md
Due: prettier --write

fix(tests): FASE 1 completada - 100% tests passing
  package.json
  pnpm-lock.yaml
  scripts/vitest-atomic-reporter.cjs
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix, eslint, prettier --write

Checkpoint from VS Code for coding agent session
  docs/FASE2_CLEANUP_REPORT.md
Due: prettier --write

chore(fase2): Complete cleanup - eliminate 9 redundant scripts, create health report
  apps/web/package.json
  docs/HEALTH_REPORT.md
  docs/SCRIPTS_AUDIT.md
  pnpm-lock.yaml
  scripts/README.md
  scripts/auto-rebuild-devcontainer.sh
  scripts/clean-monorepo.sh
  scripts/cleanup-monorepo.sh
  scripts/powershell/ONE_SHOT_100_v10.ps1
  scripts/powershell/ONE_SHOT_100_v12.ps1
  scripts/powershell/ONE_SHOT_100_v8.ps1
  scripts/rebuild-container-v2.sh
  scripts/validate-repo.sh
  scripts/validate_env.sh
Due: prettier --write

feat(fase2): Complete deep cleanup and comprehensive analysis - 100%
  docs/FASE2_SUMMARY.md
  docs/HEALTH_REPORT.md
Due: prettier --write

feat(fase3): Consolidate cleanup scripts and complete analysis
  docs/FASE3_EXECUTION.md
  docs/FASE3_PLAN.md
  scripts/clean-all.sh
Due: prettier --write

docs: Add comprehensive project completion report
  docs/PROJECT_COMPLETE.md
Due: prettier --write

fix(fase3): REAL 100% completion - brutal self-criticism applied
  .unimportedrc.json
  apps/cockpit/src/EconeuraCockpit.tsx
  apps/cockpit/src/components/AgentCard.tsx
  apps/cockpit/vitest.setup.ts
  docs/FASE3_REAL_100.md
  scripts/README.md
  scripts/clean-cache.sh
  scripts/clean.sh
Due: eslint --fix, eslint, prettier --write

fix(cockpit): 3 critical improvements before merge to main
  apps/cockpit/package.json
  apps/cockpit/src/EconeuraCockpit.tsx
  apps/cockpit/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, eslint, prettier --write

docs: Add comprehensive merge success report
  docs/MERGE_SUCCESS.md
Due: prettier --write

docs: BRUTAL self-criticism - 100% honest analysis
  docs/BRUTAL_SELF_CRITICISM.md
Due: prettier --write

docs: actualizar BRUTAL_SELF_CRITICISM con verificaciones reales
  docs/BRUTAL_SELF_CRITICISM.md
Due: prettier --write

docs: roadmap exhaustivo para llegar a 100% GA
  docs/ROADMAP_TO_100.md
Due: prettier --write

docs: plan de acción completo 43→95 pts en 6 sprints
  docs/ACTION_PLAN_100.md
Due: prettier --write

docs: add complete Fase 5 usage guide with testing instructions
  docs/FASE5_COMPLETE_GUIDE.md
Due: prettier --write

feat: complete Fase 5 with database schemas, RLS, seeds, and fixed auth service
  db/init/01-schema.sql
  db/init/02-rls.sql
  db/seeds/01-dev-data.sql
  docs/AUTOCRITICA_FASE5.md
  services/auth/app.py
Due: prettier --write, python -m flake8 --max-line-length=120 --ignore=E501,W503

Checkpoint from VS Code for coding agent session
  docs/ACTION_PLAN_PHASE5_TO_100.md
Due: prettier --write
